.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    width: 750px;
  }
   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .grid-item {
    height: 100px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }

  